.product__thumbnail-container {
  width: 80%;
  height: 60%;
}

.thumbnail-img-selected {
  width: 20%;
  height: 60%;
  border: 2px solid var(--orange);
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
}

.thumbnail-img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
}
