.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  display: grid;
  grid-template-rows: 5% 70% 25%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: 80%;
  width: 100%;
}

.close__picture {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}

.close__button {
  height: 80%;
  cursor: pointer;
}

.product__picture {
  display: flex;
  width: 80%;
  height: 100%;
}

.product__picture img {
  width: 100%;
  border-radius: 15px;
}

.product__thumbnails {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.product__thumbnails img {
  width: 80%;
  border-radius: 15px;
}
